<!--pop-up modal cclass for reset password -->



  <div id="myModal" class="modal fade" style="color:#444;" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center">Reset Password?</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">

          <p>Enter your e-mail address below to reset your password.</p>
                <form method="POST" action="{% url "email_reset" %}">
  {%csrf_token%}
          <input name="email" placeholder="Email" autocomplete="off" class="form-control oo placeholder-no-fix" type="email">
        </div>
        <div class="modal-footer">
          <button data-dismiss="modal" class="btn btn-danger" type="button">Cancel</button>
          <button class="btn btn-success" type="submit">Submit</button>
        </form>
        </div>
      </div>
    </p>
  </div>
</div>

<style type="text/css">
  .oo{
    border-radius: 0px;

  }
  .oo:focus{
    box-shadow: none;
  }
</style>