<div id="myModal" class="modal fade" style="color:#444;" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        
        <h4 class="modal-title text-center">Admin Message To You</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <h2> Dear Member,</h2>
     
        <p> You are most welcome to our unique website, 
        we are people passionate about a lot of things </p>
        <p> We wish to inform to say to you that joining our committee and creating<b><em> Useful posts</em></b> you stand a chance of recognition by the owner of this website and that attracts certain <b> rewards which you be informed of in due time</b> 
        Have fun and please agree to this terms to be a complete member</p>
        Thanks :).
        For more questions please contact us through:<br/>
        <i class="fa fa-phone"></i>&nbsp;+2347087517646
        <br>
        <i class="fa fa-envelope"></i>&nbsp;gatezdomain@gmail.com
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-success" type="button">
          Agree
        </button>
      </div>
    </div>
  </p>
</div>
