
{%load static %}
<!-- css files -->
<link rel="stylesheet" type="text/css" href="{% static "css/material-dashboard.min.css"%}" />
<link rel="stylesheet" type="text/css" href="{% static "css/common.css"%}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/wysihtml.css"%}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/dash.css"%}"/>


<!-- Javascript files -->

<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
<script type="text/javascript" src="{% static "js/material-dashboard.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.nicescroll.js"%} "></script>
<script type="text/javascript" src="{% static "js/moment.js" %}"></script>

<script type="text/javascript" src="{% static "js/wysihtml.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap-wysihtml.js" %}"></script>


