{# template website/popular_posts.html #}
{% extends "layouts/base.html" %}
{%block title%}
  {{req_post.topic}}
{%endblock%}
{% block content %}

  {% autoescape on %}
    <h3 class="mt-30"><b>{{req_post.topic}}</b></h3>
    <ul class="list-li-mr-20 mtb-15">
      <li>
        by <b>{{ author | capfirst }} </b>
        {{ req_post.last_modified }}
      </li>
      <li>
        <i style="color: #4ECDC4;" class="color-primary mr-5 font-12 fa fa-flash"></i>30
      </li>
      <li>
      {% include "includes/website_index/comment_svg.html"%}89
      </li>
    </ul>

    <img src="{{ req_post.photos.url }}" alt=""  height="500" width="450" />


    <h4><b>{{req_post.header1}}</b></h4>
    <p class="mtb-15" style="color:#222">{{ req_post.content}}</p>
  {% endautoescape%}
{% endblock %}

