
body{
box-sizing: border-box;
font-size: 13px;
word-wrap: break-word;
font-family: 'Ruda', "Lato Medium";
}

input, select, h1, h2, h3, legend{
font-family: 'Ruda', "Lato Medium";
  }
label{
  color: #999;
}
 .errorlist, .nonfield{
  font-size: smaller;
  color: red;
  list-style: square;
}
.icon{
  margin-top: 20%;
}



legend{
  float: left;
}
 
.helptext{
  font-size: smaller;
  color: gray;
}

.header1{
  font-size: 90px;
}
.regbody{
  color: #928388;
  background: #22242a;

    transition: background 0.2s ease-in;
}
.border-bottom{
  border-bottom: auto !important;
}
.footer{
  box-sizing: border-box;
  background-color: #2e3234;
  border-top: 1px solid #f5f5f5;
  padding: 55px 1em 60px;
  color: #666;
  margin-top: 60px;
  font-size: 15px;
  display: block;

}

#topbar {
  height: 115px;
   
}



#menu-item{
  float: left;
  margin-top: 15px;
  
  border:0;

}
ul.top-menu > li > a{
  border:none;
   float: left;
  margin-top: 15px;
  font-size: 14px;
  border:none !important;
}

ul.top-menu > li > a:hover{
   border:none !important;
   font-size: 14px;
    border:none;
   float: left;
  margin-top: 15px;
  
  border:none !important;
}



.logo span {
  color: #4ECDC4;
}


.logo {
  vertical-align: middle;
  font-size: 34px;
  color: #f2f2f2;
  line-height: 1.2em;
  text-transform: uppercase; 
  float: left;
  margin: auto;


    }
.logo span {
    color: #4ECDC4;
    z-index: 1002;

}
.logo b {
    font-weight: 900;
}
.super{
  top:-26px;
  left:-2px;
}
.oflow-hidden{
  padding-top: 0px;
  padding-bottom: 0px;
  height: auto;
}

.p-title::before{
  background: maroon;
}

a:focus, a:active, a:hover, button:focus, button:active, button:hover, a b.light-color:hover {
  color: #4ECDC4;
}

.foots{
  font-size: 29px;
}
.explore::after{
  background:maroon;
}


#logo {
  font-family: sans-serif, Arial, Helvetica;
  font-size: 50;
  text-transform: none;
  font-weight: 700;
  color: #4B4B4B;
  float: left;
  padding-top: 25px;
  padding-left: 18px;
  letter-spacing: -2px;
}
#logo span{
  color: #4ECDC4;
}
#logo small{
  font-size: large;

}
.symbol{
  font-family: "Ruda", Arial, Helvetica;
  font-weight: 899em;
  color: #4B4B4B;
  vertical-align: middle;
}
.symbol span{
    color: #4ECDC4;
}


a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}
.form-login {
  max-width: 500px;
  min-width: 330px;
  margin: 100px auto 0;
  background-color: #fff;
  box-shadow: none;
}

.form-login h2.form-login-heading {
  margin: 0;
  padding: 25px 20px;
  text-align: center;
  background: #4ecdc4;
  box-shadow: none;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
}


.login-wrap {
    padding: 20px;
}


.button--large.button--circle {
    width: 37px;
    height: 37px;
    padding: 0;
}
.button--withChrome.button--large {
    height: 37px;
    line-height: 37px;
    padding: 0 18px;
}
.button--large, .button--large.button--chromeless, .button--large.button--link {
    font-size: 17px;
}
.button--circle {
    padding: 0;
    width: 37px;
    text-align: center;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}


.button {
    display: inline-block;
    position: relative;
    color: rgba(0,0,0,.54);
    background: rgba(0,0,0,0);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    vertical-align: bottom;
    white-space: nowrap;
    text-rendering: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: medium-content-sans-serif-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}
.u-width60 {
    width: 60px !important;
}
.u-height60 {
    height: 60px !important;
}
.u-relative {
    position: relative !important;
}
.u-foreground {
    position: relative !important;
    z-index: 100 !important;
}

.button.button--withIcon.is-active > .button-activeState, .button.button--withIcon > .button-defaultState {
    display: inline-block;
    vertical-align: top;
}
.button.is-active > .button-activeState, .button > .button-defaultState {
    display: inline;
}

.clapButton--largePill:not(.is-active):hover {
    -webkit-animation: pulse-shadow--collection 2s infinite;
    animation: pulse-shadow--collection 2s infinite;
}
.clapButton--largePill:active, .clapButton--largePill:hover {
    -webkit-animation: none;
    animation: none;
}
.clapButton--largePill.is-active:hover, .clapButton--largePill:hover {
    border-color: #03a87c;
    color: #03a87c;
    fill: #03a87c;
}


.button--withChrome.button--large {
    height: 37px;
    line-height: 37px;
    padding: 0 18px;
}
.button:hover {
    color: rgba(0,0,0,.68);
    border-color: rgba(0,0,0,.54);
}

.button--large, .button--large.button--chromeless, .button--large.button--link {
    font-size: 17px;
}


.clapButton .svgIcon--clap, .clapButton .svgIcon--clapFilled, .clapButton:hover .svgIcon--clap, .clapButton:hover .svgIcon--clapFilled {
    fill: #03a87c;
    color: #34e79a;
}




.button--withSvgIcon .svgIcon {
    top: -1px;
    position: relative;
}

.button, .button .svgIcon {
    -webkit-transition: .1s background-color,.1s border-color,.1s color,.1s fill;
    transition: .1s background-color,.1s border-color,.1s color,.1s fill;
}

.clapButton--largePill:not(.is-active):hover {
    -webkit-animation: pulse-shadow--collection 2s infinite;
    animation: pulse-shadow--collection 2s infinite;
}
.clapButton--largePill:active, .clapButton--largePill:hover {
    -webkit-animation: none;
    animation: none;
}
.clapButton--largePill.is-active:hover, .clapButton--largePill:hover {
    border-color: #03a87c;
    color: #03a87c;
    fill: #03a87c;
}
.button--large.button--circle {
    width: 37px;
    height: 37px;
    padding: 0;
}
.button--withChrome.button--large {
    height: 37px;
    line-height: 37px;
    padding: 0 18px;
}
.button:hover {
    color: rgba(0,0,0,.68);
    border-color: rgba(0,0,0,.54);
}




.button .svgIcon {
    vertical-align: middle;
    fill: rgba(0,0,0,.54);
}


.svgIcon {
    display: inline-block;
}

.button--large, .button--large.button--chromeless, .button--large.button--link {
  font-size: 17px;
}

.svgIcon--33px {
  line-height: 33px;
}

.button.is-active > .button-defaultState, .button > .button-activeState {
  display: none;
}

.button, .button .svgIcon {
  -webkit-transition: .1s background-color,.1s border-color,.1s color,.1s fill;
  transition: .1s background-color,.1s border-color,.1s color,.1s fill;
}

svg:not(:root) {
    overflow: hidden;
}


.button--withChrome {
  height: 37px;
  line-height: 37px;
  padding: 0 16px;
  border: 1px solid rgba(0,0,0,.15);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.bg-1, .bg-2, .bg-3, .bg-4, .bg-5, .bg-6{

  background-size: cover;
}
.bg-2 {
background-size: cover;
}

.fa .fa-flash{
color: #4ECDC4;
}
header .src-form input{
  padding-top: 15px;
  background: white;
  border: 1px solid gray;
  color: black;
}
header .src-form{
  color:red;
}

     .btn-sm{
                                  border-radius: 20px 20px 20px 20px;
                                  }



.contentitem_listing li .comment_count svg {
    color: #d7d7d7;
}
svg.moon.tiny {
    width: 12px;
    height: 12px;
}
svg.moon.icon {
    top: 3px;
    right: 5px;
    position: relative;
}
svg.moon {
    fill: currentColor;
}


svg.moon {
    fill:red;
}

#social_share_wrapper #social_share_widget > span.hubcomment_count_wrap svg {
    padding-bottom: 0;
    fill: #d7d7d7;
}
#social_share_wrapper #social_share_widget svg {
    padding: 6px;
    padding-bottom: 6px;
    width: 25px;
    height: 25px;
    overflow: visible;
    color: #e25e2b;
    background: 0;
}


#social_share_wrapper #social_share_widget > span.hubcomment_count_wrap svg {
    fill: #d7d7d7;
}
#social_share_wrapper #social_share_widget svg {
    color: #e25e2b;
}
.color-primary{
   color: #e25e2b;
}

.jss1600087 svg {
    font-size: 1rem;
}

.jss1600104 {
    fill: gray;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 16px;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    user-select: none;
    flex-shrink: 0;
}

.active{
 color: #4ECDC4; 
}