<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>{%block title%}{%endblock%}</title>
    {%include "includes/website_index/static_files.html" %}  
  </head>

  <body>
    {%autoescape on%}
    <header>
      {% include "includes/website_index/navs.html" %}
    </header>
    <!-- container -->

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            {% block content %}
              {% if post %}
                <h3 class="mt-30"><b>{{post.topic}}</b></h3>
                <ul class="list-li-mr-20 mtb-15">
                  <li>by <b>{{ author.get_full_name | capfirst }} </b>
                    {{ post.last_modified }}</li>
                  <li><i class="color-primary mr-5 font-12 fa fa-flash"></i>30,190</li>
                  <li><i class="color-primary mr-5 font-12 fa fa-comments"></i>30</li>
                </ul>
                {%if post.photos %}                                  
                  <img src="{{post.photos.url}}" >
                {% endif %}
                <p class="mtb-15">{{ post.content}}</p>
              {% endif %}
            {% endblock %}

            {%if profile %}
              <div class="quote-primary mtb-20">
                <div class="row">
                  {% if profile.picture %}
                    <div class='col-sm-2 col-md-2'>
                      <img src="{{profile.picture.url}}" height="100" width="100" class="rounded-circle float-right" />
                    </div>
                  {% endif %}
                  <div class="col-sm-10 col-md-10">
                    <h5>
                      <i class="fa fa-quote-left"></i> {{profile.bio}}
                      <i class="fa fa-quote-right"></i> 

                    </h5>
                    <h5 class="mt-10"><b> Author <i class="fa fa-caret-right"></i> 
                      &nbsp;{{profile.author.get_full_name}}</b></h5>
                </div>
              </div>
            </div><!-- quote-primary -->
          {%endif%}


          <div class="brdr-ash-1 opacty-5"></div>
          {% if posts %}

            <h4 class="p-title mt-50"><b>YOU MAY ALSO LIKE</b></h4>
            <div class="row">
              {% for post in posts %}
                <div class="col-sm-4">
                  {% if post.photos %}
                    <img src="{{post.photos.url}}" alt="" height="200" width="350">
                  {%endif%}
                  <h4 class="pt-20">
                    <a href="{% url "getpost" post.topic %}">
                      <b>{{post.topic}}</b>
                    </a>
                  </h4>
                  <ul class="list-li-mr-20 pt-10 mb-30">
                    <li class="color-lite-black">
                      <a href="{% url "getpost" post.topic %}" class="color-black">
                        <b>
                          <i class="fa fa-dot-circle-o"></i>
                          &nbsp;{{post.category}}
                        </b>
                      </a>
                      
                      <span id="momentum">  
                        {{ post.last_modified | date:"Y-m-d H:i:m"}}
                      </span>
                    </li>
                    <li>
                      <i style="color: #4ECDC4;" class="color-primary mr-5 font-12 fa fa-flash"></i>30,190
                    </li>
                    <li><i class="color-primary mr-5 font-12 fa fa-comment"></i>47</li>
                  </ul>
                </div><!-- col-sm-4 -->
              {%endfor%}
            </div>
          {% endif%}
        </div>

        <div class="d-none d-md-block d-lg-none col-md-3"></div>         
        <div class="col-md-6 col-lg-4">
          <div class="pl-20 pl-md-0">
            <div class="mtb-50">
              {% include "includes/website_index/related_posts.html" %}
            </div>
          </div>
          <div class="mtb-50 mb-md-0">
            <h4 class="p-title"><b>NEWSLETTER</b></h4>
            <p class="mb-20">Subscribe to our newsletter to get notification about new updates,
              information, discount, etc..</p>
            <form class="nwsltr-primary-1">
              <input placeholder="Your email" type="text">
              <button type="submit"><i class="ion-ios-paperplane"></i></button>
            </form>
          </div><!-- mtb-5 -->
        </div>
      </div>
    </div>
  </div>
</section>
    </div>

    {% include "includes/website_index/footer.html" %}

{%endautoescape%}
  </body>

</html>


