{% extends "layouts/dashboard.html" %}

{% block content %}

  <div class="form-panel" style="width=100%;">
    <form method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}
      {% if form.errors%}
        <divv  class="alert alert-danger centered"> 
          <h3> Form could not be saved  </h3>
       <p>{{form.errors}}</p>
      </div>
      {% endif %}
      <div class="vertical-form">
        <legend>{{legend | upper}}</legend>

        {%for field in form.visible_fields %}
          <div class='form-group'>
            <div class="control-label">
              {{field.label_tag}}
            </div>

            {{field}}
            {{field.help_text}}

            <ul>
              <li style="color:indianred;"><small>{{field.errors}}</small></li>
            </ul>
          </div>

        {% endfor %}

        <input type="submit" class="btn btn-primary" value="Save">
      </div>
    </form>
  </div>
{% endblock %}
