{% extends "layouts/regbox.html" %}
{%load static %}
{% block content %}

  <div class="offset-4">
    <form action="" method="post"  style="background: #fff; margin-top:30px;">
      {%csrf_token%}
     
        <legend> <span class="fa fa-spin fa-2x fa-key"></span></legend>
         <div class="">
        {% for field in form.visible_fields %}
          <div class="form-group">
            {{field.label_tag}}
           <div class="col-sm-10 col-md-10"> {{field}}</div>
            {{field.errors}}
          </div>
        {% endfor %}
        <input type="submit" value="Change Password" class="btn btn-block btn-default" />
    </form>
  </div>
{% endblock%}
